<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">
   {% endblock %}
    <title>{% block title %}GSB - {% endblock %}</title>
  </head>
  <style>body {
        background-image: url('../../public/images/labo.png');s
        background-size: cover;
        background-repeat: no-repeat;
        
      }</style>
  <body>
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('index')}}">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Le SI
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{path('presentation')}}">Présentation du SI</a>
            <a class="dropdown-item" href="{{path('gestion')}}">Gestion</a>
            <a class="dropdown-item" href="{{path('equipement')}}">Equipement</a>
          </div>
        </li>
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            le Réseau
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{path('repartition')}}">Répartition du réseau</a>
            <a class="dropdown-item" href="{{path('segmentation')}}">Segmentation du réseau</a>
          </div>
        </li>
        
        
        
       {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
       <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            contact
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{path('contact')}}">formulaire de contact</a>
          </div>
        </li>
							<li class="nav-item">
								<a class="nav-link text-white" href="{{path('app_login')}}">Se connecter
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="{{path('app_register')}}">S'inscrire
								</a>
							</li>
						{% else %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD')%}
            <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Utilisateurs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{path('user')}}">liste des users</a>
            <a class="dropdown-item" href="{{path('utilisateur')}}">informations utilisateur</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            contact
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{path('contact')}}">formulaire de contact</a>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD')%}
            <a class="dropdown-item" href="{{path('liste-contacts')}}">liste des contacts</a>
            {% endif %}
          </div>
        </li>
		<li class="nav-item">
	        <a class="nav-link text-white" href="{{path('app_logout')}}"> {{app.user.email}}
				<i class="bi bi-x-circle-fill text-white"></i>
			</a>
		</li>

{% endif %}
      </ul>
    </div>
  </div>
</nav>

 {% for message in app.flashes('notice') %}
     <h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
      {{ message }}
      </h2>
    {% endfor %}

    {% block body %}{% endblock %} 
   
    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>